@import url('https://fonts.googleapis.com/css?family=Merriweather Sans');
@import url('https://fonts.googleapis.com/css?family=Noto Serif');
div2{
    border: 1px solid red;
}
.main{
    max-width: 1000px;
    min-width: 500px;
    margin: auto;
    background-color: #AFD0BF;
    min-height: 1500px;
    padding: 0px 5px 0px 5px;
    border: 5px solid #9B7E46;
}
.menu{
    display: grid;
    grid-template-columns: 10% 15% 15% 15% 15% 15% 15%;
    border-bottom:3px solid gray;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.favicon{
    height: 70px;
    padding-left: 10px;
}
.menu a{
    font-size: 1.8em;
    text-decoration: none;
    text-align: center;
    padding: 10px 0px 10px 0px;
    color: black;
}
.menu a:hover{
    background-color: white;
}
.menu a:active{
    background-color: #808F87;
}
.selected{
    background-color: #E2EFDE;
    border-radius: 10px;
    color: white;
}
.titre{
    color: #434C47;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 5.5em;
    font-family: Merriweather Sans;
    border-bottom: 5px solid #434C47;
}
.centered{
    padding:50px 0px 0px 250px;
}
.centered2{
    padding:50px 0px 0px 250px
}
.description{
    color: #131614;
    font-size: 2.5em;
    padding: 50px 10px 10px 10px;
    font-family: Noto Serif;
}
.smallerimage{
    width: 900px;
    padding:50px 0px 50px 50px;
}
.videosize{
    padding:70px 0px 30px 100px;
    height: 500px;
    width: 800px;
}


